{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{%block title %}
StudentInfo
{%endblock%}

{%block content %}
<div class="container text-left">
        <h2>Add Teacher</h2>
        <form method="POST" action="" class="row">
            {% csrf_token %}
            <div class="col-sm-6">
                {{form|crispy}}
                {{teacher_form|crispy}}
            </div>
            <div class="col-sm-6">

                {{address_form|crispy}}
                {{salary_form|crispy}}
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>
</div>

{%endblock%}