{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{%block title %}
StudentInfo
{%endblock%}

{%block content %}
<div class="container text-left">
    <h2>Add Student</h2>
    <form method="POST" action="" class="row">
        {% csrf_token %}
        <div class="col-sm-6">
            {{form|crispy}}
            {{student_form|crispy}}
        </div>
        <div class="col-sm-6">
            {{parent_form|crispy}}
            {{address_form|crispy}}
        </div>
        <button class="btn btn-success col" type="submit">Submit</button>
    </form>
</div>


{%endblock%}
