{% extends 'base.html' %}
{%block title %}
{%endblock %}

{% block content %}
<h1>Welcome Admin</h1>
{% if user.type_of_user == 'a' %}
<a href="{% url 'teacher:teacher_create' %}">Create Teacher</a>
<br>
<a href="{% url 'student:student_create' %}">Create Student</a>
<br>
<br>
{% endif %}
{% if user.type_of_user == 't' %}
<a href="{% url 'school:attendence' %}">Add Attendence</a>
{% endif %}
<br>s
<br>
<br>
<a href="{% url 'school:logout' %}">Logout</a>
{% if user.is_autheticated %}
<a href="{% url 'school:logout' %}">Logout</a>
{%else%}
<a href="{% url 'school:login' %}">Login</a>
{%endif%}

{%endblock %}
